#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=enp0s3 --gateway=10.0.2.1 --ip=10.0.2.4 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$KFeUJ9jSqevmIkPJ$feMBOon8390UJvkbO9ajqBV9.F8rUGYiNnUjwS4fwAXfVTC0ylQULCXyNYNiv/DIr0EqqdSzfo5g1VWxNWPsx0
# System timezone
timezone Asia/Seoul --isUtc --nontp
user --groups=wheel --name=adminuser --password=$6$.nVu0giiEAp181G0$WCz9IJVjggATQcrrEIH7lTsAgVvydRLWN9oS1ACbtKibV15i47z1OsnlbLF1F0F4lzeSfTKm0TjWEGwJlGM8O/ --iscrypted --gecos="adminuser"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
